<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logincadastro">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotipo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".InterfaceConexao"
            android:label="@string/title_activity_bluethooth_veiculo"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".bluetoothHelper.DispositivosPareados"
            android:parentActivityName=".InterfaceConexao" />
        <activity
            android:name=".bluetoothHelper.DescobrirDispositivos"
            android:parentActivityName=".InterfaceConexao" />
        <activity android:name=".MenuLocacao" />
        <activity android:name=".SelecaoVeiculo">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Cadastro" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>